{% include 'includes/header.html' %}
<main>
 
    <div class="m-5 w-75">
        
        <a href="new_event" style="margin: 10px;" class="btn btn-warning">Nuevo evento</a>
        
        <table class="table table-bordered border-warning table-light m-5 p-5" id="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th colspan="2" scope="colgroup">Acción</th>
                </tr>
            </thead>
            <tbody>
                {% for event in events %}
                <tr>
                    <td scope="row">{{ event.idTypeEvent }}</td>
                    <td>{{ event.nameTypeEvent }}</td>
                    <td>{{ event.descriptionTypeEvent }}</td>
                    <td>
                        <a href="edit_event/{{event.idTypeEvent}}">
                            <button type="button" class="btn btn-warning" >
                                EDITAR
                                <i class="fa-solid fa-pen-to-square"></i>
                            </button>
                        </a>
                    </td>
                    <td>
                        <form method="POST" class="confirmar" >  
                            <input type="hidden" value="{{ event.idTypeEvent }}" name="deleteRecord">              
                            <button type="submit" class="btn btn-danger">
                                BORRAR
                                <i class="fa-regular fa-trash-can"></i>
                            </button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
</main>
    
{% include 'includes/footer.html' %}
    