{% extends "includes/header.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<!-- Agrega estos enlaces en la sección head de tu HTML -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>



    <!-- Tabs new event -->
    <div class="container my-5 card me-5">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active text-dark" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Tipo de evento</button>

                <button class="nav-link text-dark" id="nav-event-tab" data-bs-toggle="tab" data-bs-target="#nav-cant" type="button" role="tab" aria-controls="nav-event" aria-selected="false">Cantidad de personas</button>

                <button class="nav-link text-dark" id="nav-cant-tab" data-bs-toggle="tab" data-bs-target="#nav-admob" type="button" role="tab" aria-controls="nav-cant" aria-selected="false">Mobiliario adicional</button>

                <button class="nav-link text-dark" id="nav-dec-tab" data-bs-toggle="tab" data-bs-target="#nav-adDec" type="button" role="tab" aria-controls="nav-addec" aria-selected="false">Decoración adicional</button>

                <button class="nav-link text-dark" id="nav-ali-tab" data-bs-toggle="tab" data-bs-target="#nav-adAli" type="button" role="tab" aria-controls="nav-adali" aria-selected="false">Alimentos adicionales</button>

                <button class="nav-link text-dark" id="nav-ots-tab" data-bs-toggle="tab" data-bs-target="#nav-ots" type="button" role="tab" aria-controls="nav-ots" aria-selected="false">Otros servicios</button>

            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">

         
            <div class="tab-pane fade show active p-3" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

                <!--Modal to add a new event-->
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-warning mb-2" data-bs-toggle="modal" data-bs-target="#addTypeEvent">
                    Agregar evento
                </button>

                       
                <!-- Modal -->
                <div class="modal fade" id="addTypeEvent" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar tipo de evento</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form class="row g-3 form w-100" method="post" action="/admin/events/c_tEvent">
    
                                    <div class="col-md-12">
                                      <label for="nameTypeEvent" class="form-label">Nombre del evento:</label>
                                      <input type="text" class="form-control" id="nameTypeEvent" name="nameTypeEvent" >
                                    </div>
                                    <div class="mb-3">
                                        <label for="descTypeEvent" class="form-label">Descripcion del evento</label>
                                        <input type="text" class="form-control" id="descTypeEvent" name="descTypeEvent" >
                                    </div>
                                    <div class="mb-3">
                                        <select class="form-select" aria-label="Default select" name="state">
                                            {% for act in active %}
                                                <option value="{{ act.idAct }}">{{ act.estAct }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                            
                                    <div class="col-12 d-flex justify-content-end">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-warning ms-1">Enviar</button>
                                    </div>
                                </form>
                            
                            </div>
                    </div>
                    </div>
                </div>
                
                  <!-- evento -->
                <table id="evento" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>

                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Descripción</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Los datos se cargarán dinámicamente aquí -->
                    </tbody>
                </table>



            </div>

            <!-- CANTIDAD DE PERSONAS -->

            <div class="tab-pane fade p-3" id="nav-cant" role="tabpanel" aria-labelledby="nav-cant-tab">

                <!--Modal to add a cantPersons-->
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-warning mb-2" data-bs-toggle="modal" data-bs-target="#addCantPersons">
                    Agregar Personas
                </button>
                
                <!-- Modal -->
                <div class="modal fade" id="addCantPersons" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar cantidad de personas</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form class="row g-3 form w-100" method="post" action="/admin/events/c_cant_pers">

                                <div class="col-md-12">
                                  <label for="cantPersons" class="form-label">Cantidad de personas</label>
                                  <input type="number" class="form-control" id="cantPersons" name="cantPersons" >
                                </div>
                                <div class="mb-3">
                                    <label for="costPersons" class="form-label">Costo</label>
                                    <input type="number" class="form-control" id="costPersons" name="costPersons" >
                                </div>
                                <div class="mb-3">
                                    <select class="form-select" aria-label="Default select" name="state">
                                        {% for act in active %}
                                            <option value="{{ act.idAct }}">{{ act.estAct }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                        
                                <div class="col-12 d-flex justify-content-end">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-warning ms-1">Enviar</button>
                                </div>
                            </form>
                        
                        </div>
                    </div>
                    </div>
                </div>
                <!--End modal to add a new event-->

                    <!-- evento -->
                    <table id="personas" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr>
    
                                <th>ID</th>
                                <th>Cantidad</th>
                                <th>Costo</th>
                                <th>Estado</th>
                                <th>Acciones</th>
                            
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Los datos se cargarán dinámicamente aquí -->
                        </tbody>
                    </table>
        

            </div>

            <!-- MOBILIARIO ADICIONAL -->

            <div class="tab-pane fade p-3" id="nav-admob" role="tabpanel" aria-labelledby="nav-cant-tab">

                <!--Modal to add a adMobiliario-->
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-warning mb-2" data-bs-toggle="modal" data-bs-target="#addAdMob">
                    Agregar mobiliario adicional
                </button>
                
                <!-- Modal -->
                <div class="modal fade" id="addAdMob" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar mobiliario adicional</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form class="row g-3 form w-100" method="post" action="/admin/events/c_ad_mob">

                                <div class="col-md-12">
                                  <label for="nameMob" class="form-label">Nombre del mobiliario</label>
                                  <input type="text" class="form-control" id="nameMob" name="nameMob" >
                                </div>
                                <div class="mb-3">
                                    <label for="costMob" class="form-label">Costo del mobiliario</label>
                                    <input type="number" class="form-control" id="costMob" name="costMob" >
                                </div>
                                <div class="mb-3">
                                    <select class="form-select" aria-label="Default select" name="state">
                                        {% for act in active %}
                                            <option value="{{ act.idAct }}">{{ act.estAct }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                        
                                <div class="col-12 d-flex justify-content-end">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-warning ms-1">Enviar</button>
                                </div>
                            </form>
                        
                        </div>
                    </div>
                    </div>
                </div>
                <!--End modal to add a new event-->
        
     
                  <!-- evento -->
                  <table id="mobiliario" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>

                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Costo</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Los datos se cargarán dinámicamente aquí -->
                    </tbody>
                </table>


                
                <table class="table table-bordered border-black text-center" id="table">
                  
                    <tbody>
                        {% for adMob in adMobs %}
                        <tr>
                            <td scope="row">{{ adMob.idAdMob }}</td>
                            <td>{{ adMob.nameAdMob }}</td>
                            <td>{{ adMob.costAdMob }}</td>
                            {% for act in active %}
                                {% if adMob.idAct == act.idAct %}
                                    <td class="text-{{act.estAct}}">{{ act.estAct }}</td>
                                {% endif %}
                            {% endfor %}

                            <td>

                                <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#editAdMob{{ adMob.idAdMob }}">
                                    EDITAR
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </button>
                                
                                <!-- Modal -->
                                <div class="modal fade" id="editAdMob{{ adMob.idAdMob }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Editar tipo de evento</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form method="post" class="form_edit_adMob">
                                                <div class="row g-3 justify-content-center">
                                                    <input type="hidden" value="{{ adMob.idAdMob }}" name="editAdMob"> 
                                                    <div class="col-12">
                                                        <input type="text" class="form-control"  name= "nameAdMob" placeholder="Escriba la nueva cantidad de personas" value = "{{ adMob.nameAdMob }}" />
                                                    </div>
                                                    <div class="col-12">
                                                        <input type="text" class="form-control"  name= "costAdMob" placeholder="Escriba el nuevo costo" value = "{{ adMob.costAdMob }}" />
                                                    </div>
                                                    <div class="col-12">
                                                        <select class="form-select" aria-label="Default select" name="state">
                                                            {% for act in active %}
                                                                <option value="{{ act.idAct }}">{{ act.estAct }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                    <button class="w-50 btn btn-outline-success">Guardar</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                <!--End modal-->
                            </td>
                            <td>
                                <form method="POST" class="confirmar_adMob" >  
                                    <input type="hidden" value="{{ adMob.idAdMob }}" name="deleteRecord">              
                                    <button type="submit" class="btn btn-danger">
                                        BORRAR
                                        <i class="fa-regular fa-trash-can"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>

            <!-- DECORACION ADICIONAL -->
            <div class="tab-pane fade p-3" id="nav-adDec" role="tabpanel" aria-labelledby="nav-dec-tab">
                <button type="button" class="btn btn-warning mb-2" data-bs-toggle="modal" data-bs-target="#addAdDec">
                    Agregar decoración adicional
                </button>

                <!-- Modal -->
                <div class="modal fade" id="addAdDec" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar decoración adicional</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form class="row g-3 form w-100" method="post" action="/admin/events/c_ad_dec">

                                    <div class="col-md-12">
                                    <label for="nameDec" class="form-label">Nombre de la decoración</label>
                                    <input type="text" class="form-control" id="nameDec" name="nameDec">
                                    </div>
                                    <div class="mb-3">
                                        <label for="costDec" class="form-label">Costo de la decoración</label>
                                        <input type="number" class="form-control" id="costDec" name="costDec">
                                    </div>
                                    <div class="mb-3">
                                        <select class="form-select" aria-label="Default select" name="state">
                                            {% for act in active %}
                                                <option value="{{ act.idAct }}">{{ act.estAct }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                            
                                    <div class="col-12 d-flex justify-content-end">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-warning ms-1">Enviar</button>
                                    </div>
                                </form>
                            
                            </div>
                        </div>
                    </div>
                </div>

                <table class="table table-bordered border-black text-center" id="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Costo</th>
                            <th>Estado</th>
                            <th colspan="2" scope="colgroup">Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for adDec in adDecs %}
                        <tr>
                            <td scope="row">{{ adDec.idAdDec }}</td>
                            <td>{{ adDec.nameAdDec }}</td>
                            <td>{{ adDec.costAdDec }}</td>
                            {% for act in active %}
                                {% if adDec.idAct == act.idAct %}
                                    <td class="text-{{act.estAct}}">{{ act.estAct }}</td>
                                {% endif %}
                            {% endfor %}

                            <td>

                                <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#editAdDec{{ adDec.idAdDec }}">
                                    EDITAR
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </button>
                                
                                <!-- Modal -->
                                <div class="modal fade" id="editAdDec{{ adDec.idAdDec }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Editar tipo de evento</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form method="post" class="form_edit_adDec">
                                                <div class="row g-3 justify-content-center">
                                                    <input type="hidden" value="{{ adDec.idAdDec }}" name="editAdDec"> 
                                                    <div class="col-12">
                                                        <input type="text" class="form-control"  name= "nameAdDec" placeholder="Escriba la nueva cantidad de personas" value = "{{ adDec.nameAdDec }}" />
                                                    </div>
                                                    <div class="col-12">
                                                        <input type="text" class="form-control"  name= "costAdDec" placeholder="Escriba el nuevo costo" value = "{{ adDec.costAdDec }}" />
                                                    </div>
                                                    <div class="col-12">
                                                        <select class="form-select" aria-label="Default select" name="state">
                                                            {% for act in active %}
                                                                <option value="{{ act.idAct }}">{{ act.estAct }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                    <button class="w-50 btn btn-outline-success">Guardar</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                <!--End modal-->
                            </td>
                            <td>
                                <form method="POST" class="confirmar_adDec" >  
                                    <input type="hidden" value="{{ adDec.idAdDec }}" name="deleteRecord">              
                                    <button type="submit" class="btn btn-danger">
                                        BORRAR
                                        <i class="fa-regular fa-trash-can"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <!-- ALIMENTOS ADICIONAL -->
            <div class="tab-pane fade p-3" id="nav-adAli" role="tabpanel" aria-labelledby="nav-ali-tab">
                <button type="button" class="btn btn-warning mb-2" data-bs-toggle="modal" data-bs-target="#addAdAli">
                    Agregar alimentos adicionales
                </button>

                <!-- Modal -->
                <div class="modal fade" id="addAdAli" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar alimentos adicionales</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form class="row g-3 form w-100" method="post" action="/admin/events/c_ad_ali">

                                    <div class="col-md-12">
                                    <label for="nameAli" class="form-label">Nombre del alimento</label>
                                    <input type="text" class="form-control" id="nameAli" name="nameAli">
                                    </div>
                                    <div class="mb-3">
                                        <label for="costAli" class="form-label">Costo del alimento</label>
                                        <input type="number" class="form-control" id="costAli" name="costAli">
                                    </div>
                                    <div class="mb-3">
                                        <select class="form-select" aria-label="Default select" name="state">
                                            {% for act in active %}
                                                <option value="{{ act.idAct }}">{{ act.estAct }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                            
                                    <div class="col-12 d-flex justify-content-end">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-warning ms-1">Enviar</button>
                                    </div>
                                </form>
                            
                            </div>
                        </div>
                    </div>
                </div>

                <table class="table table-bordered border-black text-center" id="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Costo</th>
                            <th>Estado</th>
                            <th colspan="2" scope="colgroup">Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for adAli in adAlis %}
                        <tr>
                            <td scope="row">{{ adAli.idAdAli }}</td>
                            <td>{{ adAli.nameAdAli }}</td>
                            <td>{{ adAli.costAdAli }}</td>
                            {% for act in active %}
                                {% if adAli.idAct == act.idAct %}
                                    <td class="text-{{act.estAct}}">{{ act.estAct }}</td>
                                {% endif %}
                            {% endfor %}

                            <td>

                                <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#editAdAli{{ adAli.idAdAli }}">
                                    EDITAR
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </button>
                                
                                <!-- Modal -->
                                <div class="modal fade" id="editAdAli{{ adAli.idAdAli }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Editar tipo de evento</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form method="post" class="form_edit_adAli">
                                                <div class="row g-3 justify-content-center">
                                                    <input type="hidden" value="{{ adAli.idAdAli }}" name="editAdAli"> 
                                                    <div class="col-12">
                                                        <input type="text" class="form-control"  name= "nameAdAli" placeholder="Escriba la nueva cantidad de personas" value = "{{ adAli.nameAdAli }}" />
                                                    </div>
                                                    <div class="col-12">
                                                        <input type="text" class="form-control"  name= "costAdAli" placeholder="Escriba el nuevo costo" value = "{{ adAli.costAdAli }}" />
                                                    </div>
                                                    <div class="col-12">
                                                        <select class="form-select" aria-label="Default select" name="state">
                                                            {% for act in active %}
                                                                <option value="{{ act.idAct }}">{{ act.estAct }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                    <button class="w-50 btn btn-outline-success">Guardar</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                <!--End modal-->
                            </td>
                            <td>
                                <form method="POST" class="confirmar_adAli" >  
                                    <input type="hidden" value="{{ adAli.idAdAli }}" name="deleteRecord">              
                                    <button type="submit" class="btn btn-danger">
                                        BORRAR
                                        <i class="fa-regular fa-trash-can"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <!-- OTROS SERVICIOS -->
            <div class="tab-pane fade p-3" id="nav-ots" role="tabpanel" aria-labelledby="nav-ots-tab">
                <button type="button" class="btn btn-warning mb-2" data-bs-toggle="modal" data-bs-target="#addOts">
                    Agregar servicios adicionales
                </button>

                <!-- Modal -->
                <div class="modal fade" id="addOts" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Servicios adicionales</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form class="row g-3 form w-100" method="post" action="/admin/events/c_ots">

                                    <div class="col-md-12">
                                        <label for="nameOts" class="form-label">Nombre del servicio</label>
                                        <input type="text" class="form-control" id="nameOts" name="nameOts">
                                    </div>
                                    <div class="mb-3">
                                        <label for="costOts" class="form-label">Costo del servcio</label>
                                        <input type="number" class="form-control" id="costOts" name="costOts">
                                    </div>
                                    <div class="mb-3">
                                        <select class="form-select" aria-label="Default select" name="state">
                                            {% for act in active %}
                                                <option value="{{ act.idAct }}">{{ act.estAct }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                            
                                    <div class="col-12 d-flex justify-content-end">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-warning ms-1">Enviar</button>
                                    </div>
                                </form>
                            
                            </div>
                        </div>
                    </div>
                </div>

                <table class="table table-bordered border-black text-center" id="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Costo</th>
                            <th>Estado</th>
                            <th colspan="2" scope="colgroup">Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ot in ots %}
                        <tr>
                            <td scope="row">{{ ot.idOtServ }}</td>
                            <td>{{ ot.nameOtServ }}</td>
                            <td>{{ ot.costOtServ }}</td>
                            {% for act in active %}
                                {% if ot.idAct == act.idAct %}
                                    <td class="text-{{act.estAct}}">{{ act.estAct }}</td>
                                {% endif %}
                            {% endfor %}

                            <td>

                                <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#editOts{{ ot.idOtServ }}">
                                    EDITAR
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </button>
                                
                                <!-- Modal -->
                                <div class="modal fade" id="editOts{{ ot.idOtServ }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Editar tipo de evento</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form method="post" class="form_edit_ots">
                                                <div class="row g-3 justify-content-center">
                                                    <input type="hidden" value="{{ ot.idOtServ }}" name="editOts"> 
                                                    <div class="col-12">
                                                        <input type="text" class="form-control"  name= "nameOts" placeholder="Escriba la nueva cantidad de personas" value = "{{ ot.nameOtServ }}" />
                                                    </div>
                                                    <div class="col-12">
                                                        <input type="text" class="form-control"  name= "costOts" placeholder="Escriba el nuevo costo" value = "{{ ot.costOtServ }}" />
                                                    </div>
                                                    <div class="col-12">
                                                        <select class="form-select" aria-label="Default select" name="state">
                                                            {% for act in active %}
                                                                <option value="{{ act.idAct }}">{{ act.estAct }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                    <button class="w-50 btn btn-outline-success">Guardar</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                <!--End modal-->
                            </td>
                            <td>
                                <form method="POST" class="confirmar_ots" >  
                                    <input type="hidden" value="{{ ot.idOtServ }}" name="deleteRecord">              
                                    <button type="submit" class="btn btn-danger">
                                        BORRAR
                                        <i class="fa-regular fa-trash-can"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>


       

            <!-- Modal de edición -->
            <div class="modal fade" id="modalEditar" tabindex="-1" role="dialog" aria-labelledby="modalEditarLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="modalEditarLabel">Editar Registro</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                   
                        <form id="formulario_edicion_eventos" method="post" class="form_edit_tEvent">
                            <div class="row g-3 justify-content-center">
                          
                              
                            </div>
                        </form>

                        <!-- eliminar evento -->
                        <form method="POST" id="borrar_evento" class="confirmar_tEvent hidden" >  
                          
                        </form>

                        <!-- editar personas -->
                        <form id="form_personas" method="post" class="form_edit_cPer">
                        </form>

                        <!-- eliminar personas -->
                         <form id="form_personas_eliminar" method="POST" class="confirmar_cPer hidden" >  
                        </form>



                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                   
                    </div>
                </div>
                </div>
            </div>

        </div>
    </div>
    
    
{% endblock %}
    
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    {% for category, message in messages %}
        <script>
            Swal.fire({
                position: 'center',
                icon: '{{category}}',
                text: "{{message}}",
                showConfirmButton: true,
                timer: 5000
            })
        </script>
    {% endfor %}
{% endif %}
{% endwith  %}

