{% extends "includes/header.html" %}
{% block content %}

        
        <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#registerAdmin" style="margin: 10px;">Agregar administrador</button>

        <!-- Modal Registrar Administrador-->
        <div class="modal fade" id="registerAdmin" tabindex="-1" aria-labelledby="registerAdminLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h1 class="modal-title fs-5" id="registerAdminLabel">Registrar Administrador</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container form-registro">
                        <form class="row g-3 form w-100" method="post" action="/admin/newadmin">

                            <div class="col-md-12">
                              <label for="fullname" class="form-label">Nombre Completo</label>
                              <input type="text" class="form-control" id="fullname" name="fullname" >
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label">Email</label>
                                <input type="email" class="form-control" id="email" name="email" >
                            </div>
                            <div class="mb-3">
                                <label for="telInput" class="form-label">Telefono</label>
                                <input type="phones" class="form-control" id="telInput" name="telefono">
                            </div>
                            <div class="mb-3">
                                <label for="passwordInput" class="form-label">Escriba una contraseña</label>
                                <input type="password" class="form-control" id="passwordInput" required name="password">
                            </div>
                                    
                            <div class="col-12 d-flex justify-content-end">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-warning ms-1">Enviar</button>
                            </div>
                        </form>
                    </div>
                    
                </div>
            </div>
            </div>
        </div>
        
        <table class="table table-bordered border-warning table-light p-5" id="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Email</th>
                    <th>Rol</th>
                    <th colspan="2" scope="colgroup">Acción</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td scope="row">{{ user.idUser }}</td>
                    <td>{{ user.emailUser }}</td>
                    <td>{{ user.rol }}</td>
                    <td>
                        <a href="edit_event">
                            <button type="button" class="btn btn-warning" >
                                EDITAR
                                <i class="fa-solid fa-pen-to-square"></i>
                            </button>
                        </a>
                    </td>
                    <td>
                        <form method="POST" class="confirmar">  
                            <input type="hidden" value="" name="dropEvent">              
                            <button type="submit" class="btn btn-danger">
                                BORRAR
                                <i class="fa-regular fa-trash-can"></i>
                            </button>
                            
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="pagination d-flex justify-content-center">

            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    {% for pag in range(1, cantidad_paginas + 1) %}
                    <li class="page-item {% if pag == pagina_actual %} active {% endif %}">
                        <a class="page-link" href="{{ url_for('admin.admin_users', pag = pag) }}">{{ pag }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>


{% endblock %}
<script>
    $(document).ready(function () {
      $('#table').DataTable({
        "paging": true,        // Habilita la paginación
        "pageLength": 8       // Define el número de registros por página
      });
    });
</script>

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    {% for category, message in messages %}
        <script>
            Swal.fire({
                position: 'center',
                icon: '{{category}}',
                text: "{{message}}",
                showConfirmButton: true,
                timer: 5000
            })
        </script>
    {% endfor %}
{% endif %}
{% endwith  %}
    