{% extends "includes/header.html" %}
{% block content %}

    <div class="container">
        <ul class="d-flex gap-3 row w-100">
            <li class="card p-4 col-3 bg-mirvaj " style="max-width: 20%;">
                <h2>{{ total_clients }}</h2>
                <h3>Clientes</h3>
            </li>
            <li class="card p-4 col-3 bg-info-subtle" style="max-width: 20%;">
                <h2>{{ total_clients }}</h2>
                <h3>Eventos por realizar</h3>
            </li>
            <li class="card p-4 col-3 bg-danger" style="max-width: 20%;">
                <h2>{{ total_clients }}</h2>
                <h3>Eventos realizados</h3>
            </li>
            <li class="card p-4 col-3 bg-danger-subtle" style="max-width: 20%;">
                <h2>{{ total_clients }}</h2>
                <h3>Eventos totales</h3>
            </li>
        </ul>
    </div>


{% endblock %}
