<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/9c3ec62a49.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/client.css">
    <link rel="stylesheet" href="/static/css/admin.css">

    <title>Mirvaj | Administrador</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg bg-body-black fixed-top bg-black">
        <div class="container-fluid ">
            <a class="navbar-brand ms-5 text-mirvaj brand" href="#">

              <img src="/static/img/logo.png" alt="" width="60" height="60">
              MIRVAJ <span>Administrador</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarNav">


            <ul class="navbar-nav me-5 ms-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-mirvaj" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      {% if current_user.is_authenticated %}
                        <b>Bienvenido, </b> {{ nombre_admin }}
                      {% endif %}
                      <i class="fa-solid fa-circle-user"></i>
                  
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <button class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#configUser">
                                <i class='bx bx-cog'></i>
                                Configuración
                            </button>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <a class="dropdown-item text-danger" href="/logout">
                                <i class='bx bx-log-out-circle'></i>
                                Cerrar sesión
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
          </div>
        </div>
    </nav>

    <!-- Modal Config User -->
    <div class="modal fade" id="configUser" tabindex="-1" aria-labelledby="configUserLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">
              ¡Hola {{ nombre_admin }}! 
            </h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>Nombre: {{ nombre_admin }}</p>

            

          </div>
        </div>
      </div>
    </div>



    <div class="w-100 row main-class">
      <!-- Sidebar -->
      <div class="sidebar col-3" id="sidebar">
          <ul class="side-menu pt-4">
              <li class="d-flex justify-content-center">
                <a href="/admin/">
                  <i class='bx bxs-home'></i>
                  <p class="text-hidden pt-2">Inicio</p>
                </a>
              </li>
              <li>
                <a href="/admin/events">
                  <i class='bx bxs-calendar-event'></i>
                  <p class="text-hidden pt-2">Eventos</p>
                </a>
              </li>
              <li>
                <a href="/admin/users">
                  <i class='bx bxs-user'></i>
                  <p class="text-hidden pt-2">Usuarios</p>
                </a>
              </li>
              <button class="btn btn-outline-warning mt-5" id="toggleSidebar">
                <i class='bx bxs-arrow-to-left' id="btnIcon"></i>
              </button>
          </ul>
      </div>
      <!-- End of Sidebar -->

      <!-- Main Content -->
      <div class="content col-9  mt-5 p-5" id="content">
          <div class="list-unstyled text-start">
            {% for segment in pagina_actual.split('/') %}
              {% if loop.index != 1 %}
                  <span class="separator"> > </span>

                  {% set endpoint = None %}

                  {% if segment == 'admin' %}
                    {% set endpoint = 'admin.admin_home' %}
                  {% elif segment == 'events' %}
                    {% set endpoint = 'events.listar_events' %}
                  {% elif segment == 'users' %}
                    {% set endpoint = 'admin.admin_users' %}
                  {% else %}
                    {% set endpoint = segment %}
                  {% endif %}
                  
                  {% if endpoint %}
                    <a href="{{ url_for(endpoint) }}" class="text-decoration-none text-dark m-pan">{{ segment }}</a>
                  {% else %}
                    {{ segment }}
                  {% endif %}
              {% endif %}
            {% endfor %}
          </div>
          <div class="block d-flex align-items-center flex-column ">

            
            {% block content %}{% endblock %}
          </div>

          <div class="footer m-0 bg-body-secondary bottom-0 fixed-bottom w-100 text-center" style="z-index: 1;"> 
            <p>Copyright &copy;Mirvaj</p>
          </div>
      </div>

    </div>

    <!-- jQuery 3.4.0 -->
    <script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>

      
    <script src="/static/js/dashboard.js"></script>
    <script src="/static/js/sweetalert.js"></script>

    <!-- SweetAlert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- BootStrap 5.3.2 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

</body>
  
</html>
        



