:root {
  --light: #f6f6f9;
  --primary: #efb810;
  --light-primary: #CFE8FF;
  --grey: #eee;
  --dark-grey: #AAAAAA;
  --dark: rgb(33,37,41);
  --danger: #D32F2F;
  --light-danger: #FECDD3;
  --warning: #aa9a66;
  --light-warning: #FFF2C6;
  --success: #388E3C;
  --light-success: #BBF7D0;
}

.form-login{
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  background-color: var(--primary);
  bottom: 0;
}

.form-login .logo-login{
  margin: 3%;
}

.form-login .logo-login img{
  width: 20%;
  height: 100%;
}

.form-login a{
  padding: 2%;
  text-decoration: none;
  color: var(--warning);
  margin-bottom: 5%;
}

.form-login .links a:hover {
  border-bottom: 2px solid var(--warning);
}

.form-login .links a.active {
  border-bottom: 2px solid var(--warning);
}

.card-login{
  width: 40%;
  padding: 2% 5%;
}

.input-container {
  position: relative;
  width: 100%;
}

.form-control {
  margin-top: 3%;
  border-radius: 0%;
  width: 100%;
  border: none;
  border-bottom: 2px solid var(--warning); /* Color de la línea inferior */
  padding: 5px;
  font-size: 16px;
  background-color: transparent;
  color: white;
}
.form-control:focus{ background-color: transparent; border-bottom: 3px solid var(--primary); color: white;}

.form-control:focus + label,
.form-control.has-value + label {
  font-size: 10px;
  top: -20px;
  transition: all 0.2s ease;
}

.form-control:focus + label,
.form-control:not(:placeholder-shown) + label { /* Agrega esta línea para mantener el label oculto */
  color: var(--warning);
}

.form-control + label {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  transition: 0.2s ease all;
  display: block;
  margin-bottom: 5px;
  color: #999999;
}

/*

.form-register{
    top: 50%;
  
    box-sizing:border-box;
    width: 400px;
    background: rgb(255, 255, 255);
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border: 100px;
    border-radius: 4px;
    color: #000000;
  }
  
  .form-register .avatar{
    width: 100px;
    height: 100px;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
  }
  
  .form-register h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
  }
  
  .form-register label{
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
  }
  
  .form-register input{
    width: 100%;
    margin-bottom: 20px;
  }
  
  .form-register input[type="text"],
  .form-register input[type="number"],
  .form-register input[type="file"],
  .form-register input[type="email"],
  .form-register input[type="password"] {
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    outline: none;
    height: 40px;
    color: #000000;
    font-size: 16px;
  }
  
  .form-register p{
    text-decoration: none;
    font-size: 15px;
    line-height: 20px;
    color: darkgrey;
  }
  
  .form-register [type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #007bff;
    color: #ddd;
    font-size: 18px;
    border-radius: 20px;
  }*/