.navbar {
    transition: background-color 0.3s ease;
}

.nav-link:hover{
    border-bottom: 2px solid #ffc107;
}

.nav-bar{
    position: absolute;
    z-index: 9;
}

.nav-link.active{
    border-bottom: 2px solid #ffc107;
}

#ini{
    height: 100vh;
}

.cover{
    background-image: url(../img/cover.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.7);
    height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-title {
    position: relative;
    padding: 115px 0 35px 0;
    text-align: center;
}

.section-title::after {
    position: absolute;
    content: "";
    width: 2px;
    height: 100px;
    top: 0;
    left: 50%;
    margin-left: 1px;
    background: #ffc107;
}

.text-primary {
    color: #ffc107 !important;
}

.service-icon {
    margin-right: 15px;
    width: 45px;
    height: 45px;
    font-size: 18px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 45px;
    color: #33211D;
    background: #ffc107;
}
.txt.cover{display: flex; align-items: center; text-align: center; align-items: center; width: 50%;}
.cover h3{font-size: 2.5em;}

.btn-down {
    position: absolute; /* Posición absoluta para la flecha */
    bottom: 20px; /* Ajusta este valor según tus preferencias */
    left: 50%; /* Centra horizontalmente */
    transform: translateX(-50%); /* Centra horizontalmente */
}

.btn-down i {
    font-size: 2em;
    color: white;
}

.animacion-fadeup {
    opacity: 0; /* Inicialmente oculto */
    transform: translateY(50px); /* Empieza ligeramente hacia abajo */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Transiciones suaves */
}

.back-to-top {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 30px;
    z-index: 11;
    animation: action 1s infinite alternate;
}

.sms-mir{
    background-color: white;
    height: 50vh;
}

.sms-mir h5{font-size: 3.5em;}

#eventos{
    margin-top: -6%;
    height: 50vh;
    border-radius: 50% 50% 0 0;
    padding-top: 5%;
}


.img-sms img{height: 5%; max-width: 50%; border-radius: 30px;}
.icon{display: flex; justify-content: center; align-items: center; flex-direction: column; gap: 15px;}
.icon-event{width: 150px; height: 150px;}

.planes-title{font-size: 3em;}

.planes-mir img{
    width: 100%;
}
.planes-mir p{font-size: 1.5em}

.error-message {
    color: red;
}