{% include 'ini/includes/header.html' %}

    <section class="form-login h-100">
        <div class="container d-flex justify-content-center">

            <div class="card bg-dark text-white text-center card-login">
                <div class="logo-login">
                    <img src="/static/img/logo.png" alt="Logo mirvaj">
                </div>
                <div class="d-flex justify-content-center links w-100">
                    <a href="/login" class="active me-auto ms-auto">Login</a>
                    <a href="/register" class="ms-auto me-auto">Sign in</a>
                </div>
                <form class="form" method="post" action="/login">
                    <div class="row">
                        <div class="mb-3">
                            <div class="input-container">
                                <input type="email" class="form-control" id="emailInput" name="email" required autofocus>
                                <label for="emailInput">Email</label>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="input-container">
                                <input type="password" class="form-control" id="passwordInput" name="password" required>
                                <label for="passwordInput">Contraseña</label>
                            </div>
                        </div>
                            
                        <div class="col-12">
                            <button type="submit" class="btn btn-warning">Iniciar sesión</button>
                        </div>
                        <a href="">¿Olvidaste tu contraseña?</a>
                    </div>
                </form>
            </div>
        </div>

    </section>

{% include 'ini/includes/footer.html' %}

    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <script>
                Swal.fire({
                    position: 'center',
                    icon: 'error',
                    text: "{{message}}",
                    showConfirmButton: true,
                    timer: 5000
                })
            </script>
        {% endfor %}
    {% endif %}
    {% endwith  %}

