{% extends "ini/includes/header.html" %}
{% block content %}

    <section class="form-login">
        <div class="container d-flex justify-content-center">

            <div class="card bg-dark text-white text-center card-login">
                <div class="logo-login">
                    <img src="/static/img/logo.png" alt="Logo mirvaj">
                </div>
                <div class="d-flex justify-content-center links w-100">
                    <a href="/login" class="me-auto ms-auto">Iniciar Sesión</a>
                    <a href="/register" class="active ms-auto me-auto">Registrarme</a>
                </div>
                <form class="form" method="post" action="/register">
                    <div class="row">
                        <div class="mb-3">
                            <div class="input-container">
                                <input type="text" class="form-control input-text" id="fullnameInput" name="fullname" required autofocus>
                                <label for="fullnameInput">Nombre Completo</label>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="input-container">
                                <input type="email" class="form-control" id="emailInput" name="email" required>
                                <label for="emailInput">Email</label>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="input-container">
                                <input type="text" class="form-control input-text" id="telInput" name="telefono" required>
                                <label for="telInput">Telefono</label>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="input-container">
                                <input type="password" class="form-control" id="passwordInput" name="password" required>
                                <label for="passwordInput">Ingrese una contraseña</label>
                            </div>
                        </div>
                            
                        <div class="col-12">
                            <button type="submit" class="btn btn-warning">Registrarme</button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </section>

{% endblock %}  

{% include 'ini/includes/footer.html' %}
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <script>
                alert("{{category}}")
                Swal.fire({
                    position: 'center',
                    icon: '{{ category }}',
                    text: "{{ message }}",
                    showConfirmButton: true,
                    timer: 5000
                })
            </script>
        {% endfor %}
    {% endif %}
    {% endwith  %}

