{% include 'ini/includes/header.html' %}
{{pagina_actual}}
<main>
    <section id="ini" class="mb-5">
        <div class="cover">
            <div class="container text-center ">
                <div class="txt-cover">
                    <h3> Celebra momentos inolvidables con exquisita gastronomía y servicio impecable. Tu evento perfecto comienza aquí.</h3>
                </div>
                <div class="btn-cover">
                    <a href="" class="btn btn-outline-light btn-lg">Cotiza</a>
                </div>
            </div>
            <div class="btn-down">
                <a href="#somos-mirvaj">
                    <i class="fa-solid fa-arrow-down fa-beat"></i>
                </a>
            </div>
        </div>
    </section>

    <section id="somos-mirvaj" class="p-5">
        <div class="sms-mir m-5">
            <div class="container">

                <div class="row p-5 animacion-fadeup">
                    <div class="col-7 d-flex justify-content-center flex-column">
                        <h5 class="text-warning ">Somos Mirvaj</h5>
                        <div class="txt-sms d-flex animacion-fadeup">
                            <div class="col-5">
                                <b><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, quos aliquam perspiciatis reprehenderit modi tempore iusto saepe impedit distinctio ut? </p></b>
                            </div>
                            <div class="col-5">
                                <b><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat alias esse ab, adipisci impedit nihil a suscipit quidem rerum harum. </p></b>
                            </div>
                        </div>
                        
                    </div>
                    <div class="col-5">
                        <div class="img-sms d-flex justify-content-center">
                            <img src="/static/img/cover.png" alt="">
                        </div>
                    </div>
                </div>
            </div>                
        </div>
    </section>

    <section id="eventos" class="bg-warning ">
        <div class="event m-5">
            <div class="container">
                <div class="row animacion-fadeup">
                    <div class="col-4">
                        <!--Hacer redireccionamiento con JavaScript-->
                        <div class="icon">
                            <img src="/static/img/icon-boda.png" alt="" class="icon-event">
                            <h5><b>Bodas</b></h5>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="icon">
                            <img src="/static/img/icon-grade.png" alt="" class="icon-event">
                            <h5><b>Grados</b></h5>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="icon">
                            <img src="/static/img/icon-cum.png" alt="" class="icon-event">
                            <h5><b>Cumpleaños</b></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="planes">
        <div class="planes-mir m-5">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-3 ">
                        <h3 class="text-warning planes-title">Nuestros planes</h3>
                    </div>
                    <div class="col-3 text-center">
                        <img src="/static/img/cover.png" alt="">
                        <p><b>PARA 80 PERSONAS</b></p>
                        <a href="" class="btn btn-outline-warning">Ver más</a>
                    </div>
                    <div class="col-3 text-center">
                        <img src="/static/img/cover.png" alt="">
                        <p><b>PARA 100 PERSONAS</b></p>
                        <a href="" class="btn btn-outline-warning">Ver más</a>
                    </div>
                    <div class="col-3 text-center">
                        <img src="/static/img/cover.png" alt="">
                        <p><b>PARA 120 PERSONAS</b></p>
                        <a href="" class="btn btn-outline-warning">Ver más</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>
{% include 'ini/includes/footer.html' %}
